.input-text {
  display: inline-flex;
  position: relative;

  input {
    width: 100%;
    outline: none;
    border: 1px solid $color-1;
    background-color: #fff;
    border-radius: 0;
    color: #000;
    font-size: 0.875rem;
    padding: 19.5px 20px;
    transition: border-color 0.3s, opacity 0.3s;
    &:disabled {
      opacity: 0.5;
    }
    &:focus {
      border-color: $color-2;
    }
    &::placeholder {
      color: $color-2;
    }
  }
}

.input-text_required {
  input {
    padding-right: 40px;
  }
  &::after {
    content: "*";
    color: $color-3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
