.svg-svgsprite_calculator {
	background: url("svg/sprite.css-ea35c9d4.svg") 63.7998017839445% 54.00949367088607% no-repeat;
}

.svg-svgsprite_calculator-dims {
	width: 16px;
	height: 16px;
}

.svg-svgsprite_close {
	background: url("svg/sprite.css-ea35c9d4.svg") 99.80701754385964% 0 no-repeat;
}

.svg-svgsprite_close-dims {
	width: 512px;
	height: 512px;
}

.svg-svgsprite_error {
	background: url("svg/sprite.css-ea35c9d4.svg") 0 99.95119665794714% no-repeat;
}

.svg-svgsprite_error-dims {
	width: 451.74px;
	height: 451.74px;
}

.svg-svgsprite_facebook_like {
	background: url("svg/sprite.css-ea35c9d4.svg") 46.332307692307694% 56.018599562363235% no-repeat;
}

.svg-svgsprite_facebook_like-dims {
	width: 50px;
	height: 50px;
}

.svg-svgsprite_phone {
	background: url("svg/sprite.css-ea35c9d4.svg") 0 0 no-repeat;
}

.svg-svgsprite_phone-dims {
	width: 512.01px;
	height: 512.01px;
}

.svg-svgsprite_phone_2 {
	background: url("svg/sprite.css-ea35c9d4.svg") 58.66733668341708% 54.819057815845824% no-repeat;
}

.svg-svgsprite_phone_2-dims {
	width: 30px;
	height: 30px;
}

.svg-svgsprite_secured_letter {
	background: url("svg/sprite.css-ea35c9d4.svg") 61.68241206030151% 54.819057815845824% no-repeat;
}

.svg-svgsprite_secured_letter-dims {
	width: 30px;
	height: 30px;
}

.svg-svgsprite_telegram_app_1 {
	background: url("svg/sprite.css-ea35c9d4.svg") 55.56294058408862% 54.93669527896996% no-repeat;
}

.svg-svgsprite_telegram_app_1-dims {
	width: 32px;
	height: 32px;
}

.svg-svgsprite_viber_1 {
	background: url("svg/sprite.css-ea35c9d4.svg") 51.46051282051282% 56.018599562363235% no-repeat;
}

.svg-svgsprite_viber_1-dims {
	width: 50px;
	height: 50px;
}

